<div class="mt-12 grid w-full grid-cols-1 items-center justify-evenly lg:grid-cols-2">
  <img
    src="/media/organizations/fss-finki/about/slika_od_fss.png"
    class="aspect-video h-full w-full object-cover"
  />

  <div class="flex h-full flex-col items-center justify-center gap-6 bg-[rgb(17,1,78)] p-8 sm:p-10">
    <h1 class="text-2xl font-semibold text-white sm:text-3xl">ЗА ФСС</h1>

    <p class="sm:text-md text-sm text-white">
      Факултетското студентско собрание на ФИНКИ е официјалното студентско тело кое ги застапува
      студентите на ФИНКИ. Ние сме единица на факултетот оформена со закон за високо образование во
      кое имаат право да членуваат студенти од прв и втор циклус на студии, а членовите се избрани
      на јавни, непосредни и тајни избори кои се организираат секоја година. Во факултетското
      студентско собрание членуваат 10 членови, од кои еден претседател и 9 претставници на
      смеровите.
    </p>
  </div>
</div>
