<div class="items-left grid w-full grid-cols-1 justify-evenly lg:grid-cols-2">
  <img
    src="/images/logo_fakultet.png"
    class="object-fit-cover h-full w-full bg-[rgb(17,1,78)] p-12"
  />

  <div class="flex h-full flex-col justify-center gap-8 bg-[rgb(17,1,78)] p-10">
    <h1 class="text-3xl font-semibold text-white sm:text-4xl">ЗА ФАКУЛТЕТОТ</h1>

    <p class="text-white sm:text-xl">
      Факултетското студентско собрание на ФИНКИ е официјалното студентско тело кое ги застапува
      студентите на ФИНКИ. Ние сме единица на факултетот оформена со закон за високо образование во
      кое имаат право да членуваат студенти од прв и втор циклус на студии, а членовите се избрани
      на јавни, непосредни и тајни избори кои се организираат секоја година. Во факултетското
      студентско собрание членуваат 10 членови, од кои еден претседател и 9 претставници на
      смеровите.
    </p>
    <a href="#" class="mr-auto rounded-3xl border-2 p-3 text-white"> линк до факултет </a>
  </div>
</div>
