---
import EmailIcon from "../icons/EmailIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
---
<footer class="bg-white w-full container text-center">

    <div class="flex justify-center space-between gap-1.5">
    <EmailIcon />
    <LinkedInIcon />
    <InstagramIcon/>
    </div>
    <br/>
    <p>&copy; 2021 FSS</p>
</footer>