---
import EmailIcon from "../icons/EmailIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
---

<footer class="bg-background container gap-1.5 p-2 text-center">
  <a
    href="#"
    class="bg-primary text-background inline-flex aspect-square h-12 items-center justify-center rounded-full"
  >
    <EmailIcon />
  </a>

  <a
    href="#"
    class="bg-primary text-background inline-flex aspect-square h-12 items-center justify-center rounded-full"
  >
    <LinkedInIcon />
  </a>

  <a
    href="#"
    class="bg-primary text-background inline-flex aspect-square h-12 items-center justify-center rounded-full"
  >
    <InstagramIcon />
  </a>
</footer>
