---
import EmailIcon from "../icons/EmailIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
---

<footer class="gap-1.5 bg-white w-full container p-2 text-center">
  <a
    href="#"
    class="h-12 aspect-square bg-blue-500/90 rounded-full inline-flex items-center justify-center text-white"
  >
    <EmailIcon />
  </a>

  <a
    href="#"
    class="h-12 aspect-square bg-blue-500/90 rounded-full inline-flex items-center justify-center text-white"
  >
    <LinkedInIcon />
  </a>

  <a
    href="#"
    class="h-12 aspect-square bg-blue-500/90 rounded-full inline-flex items-center justify-center text-white"
  >
    <InstagramIcon />
  </a>
</footer>
