<header
  class="bg-background text-text container flex items-center justify-between px-8 py-4 shadow"
>
  <div class="flex items-center gap-2">
    <a href="/">
      <img src="/public/images/logo.png" alt="FSS Logo" class="aspect-square h-16" />
    </a>

    <p class="text-text lg:text-md w-64 text-sm">
      Факултетско Студентско Собрание при Факултет за Информатички Науки и Компјутерско Инженерство
    </p>
  </div>

  <nav>
    <ul class="flex gap-4 lg:gap-16">
      <li>
        <a href="/" class="text-text uppercase">Почетна</a>
      </li>
      <li>
        <a href="/tim" class="text-text uppercase">Тимот</a>
      </li>
      <li>
        <a href="/pravobranitel" class="text-text uppercase">Правобранител</a>
      </li>
      <li>
        <a href="/kontakt" class="text-text uppercase">Контакт</a>
      </li>
    </ul>
  </nav>
</header>
