<header
  class="w-full flex container px-8 py-4 justify-between items-center bg-white shadow"
>
  <div class="flex gap-2 items-center">
    <a href="/">
      <img
        src="/public/images/logo.png"
        alt="FSS Logo"
        class="h-16 aspect-square"
      />
    </a>

    <p class="w-64 text-sm lg:text-md">
      Факултетско Студентско Собрание при Факултет за Информатички Науки и
      Компјутерско Инженерство
    </p>
  </div>

  <nav>
    <ul class="flex gap-4 lg:gap-16">
      <li>
        <a href="/" class="uppercase">Почетна</a>
      </li>
      <li>
        <a href="/tim" class="uppercase">Тимот</a>
      </li>
      <li>
        <a href="/pravobranitel" class="uppercase">Правобранител</a>
      </li>
      <li>
        <a href="/kontakt" class="uppercase">Контакт</a>
      </li>
    </ul>
  </nav>
</header>
