---
import Layout from "../layouts/Layout.astro";
import PhoneIcon from "../components/icons/PhoneIcon.astro";
import EmailIcon from "../components/icons/EmailIcon.astro";

const mapSearchTerm = "FCSE Skopje";
---

<Layout>
  <div class="items-left grid h-full w-full grid-cols-1 justify-evenly lg:grid-cols-2">
    <div class="embed-map">
      <div class="embed-map-container">
        <iframe
          class="embed-map-frame"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src=`https://maps.google.com/maps?width=600&height=400&hl=en&q=${encodeURIComponent(mapSearchTerm)}&t=&z=14&ie=UTF8&iwloc=B&output=embed`
        ></iframe>
      </div>
    </div>

    <div class="flex h-full flex-col justify-center gap-8 bg-[rgb(17,1,78)] p-10">
      <h1 class="text-3xl font-semibold text-white sm:text-4xl">КОНТАКТ</h1>
      <div class="flex flex-col gap-4">
        <div class="flex gap-4 text-white sm:text-xl">
          <EmailIcon /><span>
            <a href="mailto:ffs@finki.ukim.mk"> ffs@finki.ukim.mk </a> (ФСС ФИНКИ)
          </span>
        </div>
        <div class="flex gap-4 text-white sm:text-xl">
          <EmailIcon />
          <span>
            <a href="mailto:contact@finki.ukim.mk">contact@finki.ukim.mk</a> (ФИНКИ)
          </span>
        </div>
        <div class="flex gap-4 text-white sm:text-xl">
          <EmailIcon /><span>
            <a href="mailto:studentski@finki.ukim.mk">studentski@finki.ukim.mk</a> (студентска служба)
          </span>
        </div>
        <div class="flex gap-4 text-white sm:text-xl">
          <PhoneIcon />
          <span>
            <a href="#">Моб: 070/302-440 </a> (студентска служба)
          </span>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .embed-map {
    position: relative;
    width: 100%;
  }
  .embed-map-container {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .embed-map-frame {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
