---
import Layout from "../layouts/Layout.astro";
import TeamMemberCard from "../components/team/TeamMemberCard.astro";

const members = new Array(10).fill(1).map((x) => ({
  image: "media/organizations/fss-finki/logo/fss-finki-logo.png",
  name: "Team Member",
  position: "President",
  contact: {
    email: "d@t.s",
    instagram: "https://instagram.com/member",
    linkedin: "https://linkedin.com/member",
  },
}));
---

<Layout>
  <div class="p-4">
    <h1 class="m-8 text-center text-4xl">Членови на тимот</h1>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-4">
      {members.map((member) => <TeamMemberCard member={member} />)}
    </div>
  </div>
</Layout>
