---

---

<div class="mt-12 grid w-full grid-cols-1 items-center justify-evenly lg:grid-cols-2">
  <img src="/public/images/slika_od_fss.png" class="object-fit-cover h-full w-full" />

  <div class="flex h-full flex-col items-center justify-center gap-8 bg-blue-500 p-10">
    <h1 class="text-3xl font-semibold sm:text-4xl">ЗА ФСС</h1>

    <p class="sm:text-xl">
      Факултетското студентско собрание на ФИНКИ е официјалното студентско тело кое ги застапува
      студентите на ФИНКИ. Ние сме единица на факултетот оформена со закон за високо образование во
      кое имаат право да членуваат студенти од прв и втор циклус на студии, а членовите се избрани
      на јавни, непосредни и тајни избори кои се организираат секоја година. Во факултетското
      студентско собрание членуваат 10 членови, од кои еден претседател и 9 претставници на
      смеровите.
    </p>
  </div>
</div>
