---

---
<div class="flex flex-direction:column; grid-cols-2; gap-10 w-max; justify-evenly" >
   <div>
       <img src="/public/images/slika_od_fss.png" width="900" height="830" class="mt-25"/>
   </div>

    <div  class=" mt-45">
        <h1 class=" text-7xl mb-10">ЗА ФСС</h1>
        <p class="max-w-lg text-3xl">Факултетското студентско собрание на ФИНКИ е официјалното студентско тело кое ги застапува студентите на ФИНКИ. Ние сме единица на факултетот оформена со закон за високо образование во кое имаат право да членуваат студенти од прв и втор циклус на студии, а членовите се избрани на јавни, непосредни и тајни избори кои се организираат секоја година. Во факултетското студентско собрание членуваат 10 членови, од кои еден претседател и 9 претставници на смеровите.
         </p>
    </div>

    </div>
