<div class="flex flex-col bg-gray-200 p-10">
  <h1 class="self-center text-2xl font-semibold sm:text-4xl">МИСИЈА НА ФСС</h1>
  <p class="mt-8 self-center sm:text-xl">
    Се бориме да докажеме дека факултетите се на студентите и студентите треба да го имаат главниот
    збор во нив. Тоа подразбира дека се бориме за подобрување на студентскиот стандард кој е на
    многу ниско ниво, за обединување на студентите и настапување заеднички пред професорите и
    деканатот за сите проблеми кои ги имаме и работи кои сакаме да ги промениме. Освен обезбедување
    на подобри услови за студирање на факултетот, ние им нудиме можност да го прошират своето знаење
    и до научат дополнителни работи кои ги нема во образовниот процес со организирање на настани,
    семинари, работилници и акции.
  </p>
</div>
