---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const organizations = await getCollection("organizations");
  return organizations.map((organization) => ({
    params: { slug: organization.id },
    props: { organization },
  }));
}

const { organization } = Astro.props;
---

<Layout organization={organization}>
  <h1>{organization.data.name} - Правобранител</h1>
</Layout>
