---
import "~/styles/global.css";

import Header from "~/components/layout/Header.astro";
import Footer from "~/components/layout/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>FSS Website</title>
  </head>
  <body class="flex flex-col items-center justify-between">
    <Header />

    <main class="container flex-grow">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
